<app-input type="text" name="inputText"></app-input>
<app-input type="password" name="inputPassword"></app-input>
<app-button btnName="Click Me!" (clickEvent)="handleClickFromComponent($event)"></app-button>